<footer class="global-footer tempo-center">
	<p>財金資訊股份有限公司 版權所有 Financial Information Service Co., Ltd. All Right Reserved.</p>
	<ul>
	    <li>地址
	    <span>台北市內湖區康寧路三段81號</span>
	    </li>
	    <li> 服務專線
	        <span>(02)2631-9800</span>
	    </li>
	</ul> 
</footer>