
	<meta name="keyword" content="">
    <meta name="description" content="">
	<meta name="viewport" content="width=1024px">
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- css -->
	<link rel="stylesheet" href="css/plugin.css">
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/screen.css">
    <script src="js/plugin.min.js"></script>
    <script src="js/main.min.js"></script>

	<!--[if lt IE 9]>
	<script src="/js/ie8-fix.min.js"></script>
	<![endif]-->