.global-footer{
	min-height: 55px;
	padding-top: 15px;
    p{
    	font-size: 11px;
        color: #323232;
        text-align: center;
        margin-bottom: 7px;
    }
    ul{
        padding: 0;
        list-style: none;
        text-align: center;
        li{
        	font-size: 11px;
        	display: inline-block;
        	color: #323232;
            span{
            	border-left: 1px solid #323232;
            	padding-left: 5px; 
            }
        }
    }
}