* {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: none;
}

.global-main {
    width: 1024px;
    height: auto;
    margin: 0px auto;
    font-size: $fisc-font;
    font-family: 'sans-serif', 'Microsoft JhengHei';
    position: relative;
    overflow: hidden;
    background: #fff;


    &.subpage {
    	.global-footer {
    		*{
    			color: $fisc_darkRed;
    		}
    	}
    }
}