html[lang=en]{

}
.global-nav {
    width: 1024px;
    height: 58px;
    display: block;
    border-top: 4px solid $fisc-darkRed;
    background: #fff;
    box-shadow: 0px 2px 4px $fisc-shadow;
    position: fixed;
    z-index: 1000;
    .logo {
        background: url('../images/logo.jpg');
        background-size: 100%;
        width: 170px;
        height: 45px;
        text-indent: -9999px;
        display: inline-block;
        float: right;
        margin: 5px 10px;
    }
    .bar,
    .bar:before,
    .bar:after {
        -webkit-transition: transform 500ms ease-in-out;
        -moz-transition: transform 500ms ease-in-out;
        -o-transition: transform 500ms ease-in-out;
        transition: transform 500ms ease-in-out;
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: #94002d;
        position: absolute;
        display: block;
        content: '';
    }
    .bar {
        position: absolute;
        left: calc(50% - 17.5px);
        top: 50%;
        &:after {
            -moz-transform: rotate(-0deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0, 0);
            -webkit-transform: rotate(-0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
            -o-transform: rotate(-45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
            -ms-transform: rotate(-0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
            transform: rotate(-0deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
        }
        &:before {
            top: -7px;
        }
        &:after {
            bottom: -7px;
        }
    }
    .menu {
        width: 40px;
        height: 100%;
        top: 0;
        margin-left: 30px;
        display: block;
        position: relative;
    }
    .menu.active {
        .bar {
            background-color: transparent;
            &::before {
                -moz-transform: rotate(45deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0, 0);
                -webkit-transform: rotate(45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
                -o-transform: rotate(45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
                -ms-transform: rotate(45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
                transform: rotate(45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
            }
            &:after {
                -moz-transform: rotate(-45deg) scale(1, 1) skewX(0deg) skewY(0deg) translate(0, 0);
                -webkit-transform: rotate(-45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
                -o-transform: rotate(-45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
                -ms-transform: rotate(-45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
                transform: rotate(-45deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0);
            }
            &:before,
            &:after {
                top: 0;
            }
        }
    }
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    text-indent: -9999px;
    background-color: #94002d;
    transform: rotate(-45deg);
    display: none;
    z-index: 7;

    &:after {
        background: url(../images/arrow_icon.png);
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        display: block;
        content: '';
        transform: rotate(-45deg);
        position: absolute;
        top: 11px;
        left: 11px;
        border-left: 1px solid rgba(255,255,255,.8);
    }
    // &:hover {
    //     &:after{
    //         margin-top: -8px;
    //         margin-left: 7px;
    //     }
    // }
}

.menu_list {
    width: 250px;
    background: #fbfbf6;
    position: absolute;
    height: 100%;
    z-index: 999;
    left: -250px;
    bottom: 0;
    height: 100%;
    top: 62px;
    padding: 50px 0;
    opacity: 0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}

.menu_list.show {
    left: 0;
    opacity: 1;
}

.menu_ba {
    position: absolute;
    width: 100%;
    width: 1024px;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.85);
    z-index: 888;
}

.menu_item {
    padding: 0 30px;
    margin-bottom: 30px;
    
    
    .title {
        cursor: pointer;
    }
    a {
        text-decoration: none;
        .text {
            color: $fisc_dark;
            letter-spacing: 1px;
            line-height: 3em;
            display: block;
            cursor: pointer;

            span {
                height: 2px;
                width: 40px;
                background-color: #7c7c7b;
                display: inline-block;
                margin-bottom: 4px;
                margin-right: 18px;
            }
            // &.active {
            &:hover {
                color: $fisc_darkRed;
                margin-left: -40px;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -ms-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                transition: all 0.7s ease-in-out;
                span {
                    background-image: url('../images/arrow_icon_active.png');
                    background-size: 100%;
                    background-color: $fisc_noColor;
                    height: 14px;
                    margin: 0px;
                    margin-top: 14px;
                    transform: translateX(160px);
                    -webkit-animation: skew 0.7s ease-in-out;
                    -moz-animation: skew 0.7s ease-in-out;
                    -o-animation: skew 0.7s ease-in-out;
                    animation: skew 0.7s ease-in-out;

                }
                @-webkit-keyframes skew {
                  0% {
                    transform: translateX(40px);;
                  }
                  100% {
                    transform: translateX(160px);;
                  }
                }
                @-moz-keyframes skew {
                  0% {
                    transform: translateX(40px);;
                  }
                  100% {
                    transform: translateX(160px);;
                  }
                }
                @-o-keyframes skew {
                  0% {
                    transform: translateX(40px);;
                  }
                  100% {
                    transform: translateX(160px);;
                  }
                }
                @keyframes skew {
                  0% {
                    transform: translateX(40px);;
                  }
                  100% {
                    transform: translateX(160px);;
                  }
                }
            }
        }
    }
}
