/**********************************
 * Media Queries
 **********************************/
@mixin nMediaQueryLess($pixel) {
    //小於等於 xxx px 時載入
    @media (max-width: $pixel) {
        @content; 
    }
}
@mixin nMediaQueryMore($pixel) {
    //大於等於 xxx px 時載入
    @media (min-width: $pixel) {
        @content; 
    }
}

/***********************************
 * ClearBothFix
 **********************************/
@mixin nClearBothFix{
    zoom: 1;
    &:after{
        clear: both;
        content: " ";
        display: table;
    }
    &:before{
        content: " ";
        display: table;
    }
}

/***********************************
 * Transition
 **********************************/
@mixin nTransition($type) {
    @include transition($type .2s linear);
}

/***********************************
 * Custom hr
 **********************************/
@mixin nCustomHr($class,$color) {
    hr.#{$class}{
        margin:0;
        border:0; 
        height:1px; 
        background-color:$color;
        color:$color;   /* IE6 */
        @content;
    }
}

@mixin nCustomHr($color) {
        margin:0;
        border:0; 
        height:1px; 
        background-color:$color;
        color:$color;   /* IE6 */
        @content;
}

@mixin nEllipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***********************************
 * Width Limit
 **********************************/
@mixin nMaxWidthLimit($width: $max-width) {
    max-width: $width;
    margin: 0 auto;
}


@function nStrReplace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    /*
    @return str-slice($string, 1, $index - 1) + $replace;
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    */
    @return str-slice($string, 1, $index - 1) + $replace + nStrReplace(str-slice($string, $index + str-length($search)), $search, $replace);
    
  }
  @return $string;
}

