/* Author Nick. */

// ***********************
// Htmleditor
// ***********************
.#{$preAuthor}htmleditor {
    font-size: 95%;
    line-height: 140%;
    blockquote {
        font-style: italic;
        font-family: Georgia, Times, "Times New Roman", serif;
        padding: 2px 0;
        border-style: solid;
        border-color: #ccc;
        border-width: 0;
        padding-left: 20px;
        padding-right: 8px;
        border-left-width: 5px;
    }
    h5,
    h6,
    strong,
    b {
        font-weight: bold;
    }
    i,
    cite,
    em,
    var,
    address {
        font-style: italic
    }
    a {
        color: #0782C1;
        text-decoration: underline;
    }
    ol,
    ul,
    dl {
        /* IE7: reset rtl list margin. (#7334) */
        *margin-right: 0px;
        /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
        padding: 0 40px;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
        line-height: 1.2;
    }
    h1 {
        font-size: 2em;
        margin: .67em 0
    }
    h2 {
        font-size: 1.5em;
        margin: .75em 0
    }
    h3 {
        font-size: 1.17em;
        margin: .83em 0
    }
    h4 {
        margin: 1.12em 0
    }
    big {
        font-size: 1.17em
    }
    small {
        font-size: .83em
    }
    pre,
    tt,
    code,
    kbd,
    samp {
        font-family: monospace
    }
    u,
    ins {
        text-decoration: underline
    }
    q {
        quotes: initial;
    }
    q::before {
        content: open-quote;
    }
    q::after {
        content: close-quote;
    }
    hr {
        border: 0px;
        border-top: 1px solid #ccc;
    }
    img.right {
        border: 1px solid #ccc;
        float: right;
        margin-left: 15px;
        padding: 5px;
    }
    img.left {
        border: 1px solid #ccc;
        float: left;
        margin-right: 15px;
        padding: 5px;
    }
    pre {
        white-space: pre-wrap;
        /* CSS 2.1 */
        word-wrap: break-word;
        /* IE7 */
        -moz-tab-size: 4;
        -o-tab-size: 4;
        -webkit-tab-size: 4;
        tab-size: 4;
    }
    .marker {
        background-color: Yellow;
    }
    span[lang] {
        font-style: italic;
    }
    figure {
        text-align: center;
        border: solid 1px #ccc;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);
        padding: 10px;
        margin: 10px 20px;
        display: inline-block;
    }
    figure > figcaption {
        text-align: center;
        display: block;
        /* For IE8 */
    }
    a > img {
        padding: 1px;
        margin: 1px;
        border: none;
        outline: 1px solid #0782C1;
    }
    sub,
    sup {
        /* Specified in % so that the sup/sup is the
         right size relative to the surrounding text */
        font-size: 75%;
        /* Zero out the line-height so that it doesn't
         interfere with the positioning that follows */
        line-height: 0;
        /* Where the magic happens: makes all browsers position
         the sup/sup properly, relative to the surrounding text */
        position: relative;
        /* Note that if you're using Eric Meyer's reset.css, this
         is already set and you can remove this rule */
        vertical-align: baseline;
    }
    sup {
        /* Move the superscripted text up */
        top: -0.5em;
    }
    sub {
        /* Move the subscripted text down, but only
         half as far down as the superscript moved up */
        bottom: -0.25em;
    }
}
