$fisc_darkRed: #94002d;
$fisc_dark: #282828;
$fisc_shadow: rgba(0, 0, 0, 0.5);
$fisc_noColor: rgba(255,255,255,0);

$fisc_font: 16px;
$fisc_fontMiddle: 2em;
$fisc_fontBig: 3em;

$text_cont: 48px;
$text_cont_active: 243px;