<section class="subject_cont">
	<table>
		<tr>
			<td><a href="1.html" class="item"><img src="images/subject_1.png" alt="深耕客戶關係"></a></td>
			<td><a href="2.html" class="item"><img src="images/subject_2.png" alt="推廣數位金融"></a></td>
			<td><a href="3.html" class="item"><img src="images/subject_3.png" alt="共享金流數據"></a></td>
		</tr>
		<tr>
			<td><a href="4.html" class="item"><img src="images/subject_4.png" alt="善盡社會責任"></a></td>
			<td><a href="5.html" class="item"><img src="images/subject_5.png" alt="致力員工照顧"></a></td>
			<td><a href="6.html" class="item"><img src="images/subject_6.png" alt="落實環保節能"></a></td>
		</tr>
	</table>
</section>