<nav class="global-nav">
	<a href="https://www.fisc.com.tw/TC/Default.aspx" target="_blank">
        <h1 class="logo">財金資訊股份有限公司</h1>
    </a>
	<div class="menu">
       <span class="bar"></span>
	</div>
</nav>
 <div class="menu_list">
    <div class="menu_item">
        <a href="1.html"><div class="text"><span></span>深耕客戶關係</div></a>
        <a href="2.html"><div class="text"><span></span>推廣數位金融</div></a>
        <a href="3.html"><div class="text"><span></span>共享金流數據</div></a>
        <a href="4.html"><div class="text"><span></span>善盡社會責任</div></a>
        <a href="5.html"><div class="text"><span></span>致力員工照顧</div></a>
        <a href="6.html"><div class="text"><span></span>落實環保節能</div></a>
        <a href="index.html"><div class="text"><span></span>回首頁</div></a>
    </div>
 </div>

 <a href="#" class="scrollup">Scroll</a>