<div class="inner_bottom">
    <div class="car"></div>
    <div class="windmill">
        <div class="top"></div>
    </div>
    <div class="windmill item2">
        <div class="top"></div>
    </div>
</div>
