<section class="kv">
    <!-- <div class="title">
        <h2 class="topic">企業社會責任</h2>
        <div class="slogan">
            <span>便捷金流</span>・
            <span>社會公益</span>・
            <span>員工照顧</span>・
            <span>環保永續</span>
        </div>
    </div> -->
    <div class="kv_bottom">
        <div class="text_wp">
            <div class="text_cont">
                <span>
               「財金」肩負提供金融機構及社會大眾便捷的金流服務，一向秉持「金融交易安全不鬆懈 系統運作穩定不中斷」之經營理念，在戮力達成「24小時全年服務不中斷」自我期許目標之同時，更參與各項公益活動，「財金」深知企業社會責任是檢視企業核心價值與公民實踐的重要指標，應對社會善盡誠信、負責的基本義務，爰此，「財金」在提供社會民眾便捷金流服務的同時，也關懷里鄰，為企業社會責任盡一份心力。
               </span>
                <a href="#" class="text_btn"></a>
            </div>
        </div>
        <i class="oo"></i>
        <div class="car"></div>
        <div class="windmill">
            <div class="top"></div>
        </div>
        <div class="windmill item2">
            <div class="top"></div>
        </div>
        <div class="windmill item3">
            <div class="top"></div>
        </div>
    </div>
</section>
