.#{$pre}article{

	

	&.article-xs{
		position: relative;
    	padding-left: 40px;
    	line-height: 130%;
    	font-size: $f13px;
        a{
            display: inline-block;
        }
    	span{
    		font-size: 80%;
    	}
    	.icons{
    		position: absolute;
    		left: 0;
    		top: 0;
    	}
	}
}