.#{$pre}btn{

	background-color: transparent;
	position: relative;
	color: $DFColor_Black;
	&:hover{
		box-shadow: none;
	}

	&.card-2{
		box-shadow: $DFShadow2px;
		&:hover{
			box-shadow: $DFShadow4px;
		}
	}

	*{
		vertical-align: middle;
	}
	.icons{
		margin-right: 5px;
	}
		
	&.fixed-width-170{
		width: 170px;
		height: 35px;
		border-radius: 18px;
	}

	&.medium-round{
		width: 190px;
		height: 45px;
		border-radius: 35px;
	}

	&.auto-round{
		padding: 6px 10px;
		border-radius: 35px;
	}

	&.transparent{
		background-color: transparent;
		@include nMediaQueryMore($w3-medium-size) {
			&:hover{
				box-shadow: none;
			}
			&:active{
				box-shadow: none;
			}	
		}
	}
}