// .#{$pre}kv{
// }
.kv {
    background: url('../images/kv.png');
    background-size: 100%;
    width: 100%;
    height: 420px;
    text-align: center;
    position: relative;
    margin-top: 60px;
    .title {
        display: inline-block;
        padding-top: 160px;
        text-align: center;
        margin: 0px auto;
        .topic {
            color: $fisc-darkRed;
            font-size: $fisc-fontBig;
            text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff;
        }
        .slogan {
            width: 100%;
            margin-top: 10px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff;
        }
    }
    .kv_bottom {
        background: url('../images/kv_bottom.png');
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        .text_wp {
            width: 250px;
            height: $text_cont;
            background: #fff;
            position: absolute;
            left: 35px;
            top: -92px;
            font-size: 12px;
            line-height: 24px;
            text-align: left;
            padding: 20px 15px;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0px 2px 3px 2px rgba(31, 23, 0, 0.2);
            -moz-box-shadow: 0px 2px 3px 2px rgba(31, 23, 0, 0.2);
            -webkit-box-shadow: 0px 2px 3px 2px rgba(31, 23, 0, 0.2);
            transition: all 0.8s ease;
            -moz-transition: all 0.8s ease;
            -webkit-transition: all 0.8s ease;
            .text_cont {
                position: relative;
                height: $text_cont;
                > span {
                    height: $text_cont;
                    overflow: hidden;
                    display: block;

                    //點點點
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    //左右對齊
                    text-align: justify;
                    text-justify: inter-ideograph;
                    -ms-text-justify: inter-ideograph; /*IE9*/
                    -moz-text-align-last:justify; /*Firefox*/
                    -webkit-text-align-last:justify; /*Chrome*/
                }
            }
            .text_btn {
                background: url('../images/text_btn_icon.png');
                width: 20px;
                height: 20px;
                position: absolute;
                bottom: -17px;
                right: -13px;
                display: block;
            }
        }
        .text_wp.active {
            height: $text_cont_active;
            top: -283px;
            .text_cont {
                height: $text_cont_active;
                >span {
                    height: $text_cont_active;
                    display: block;
                }
            }
            .text_btn {
                bottom: -16px;
                background-position: -20px 0;
                background-repeat: no-repeat;
            }
        }
        .oo {
            background: url('../images/oo.png');
            width: 65px;
            height: 50px;
            position: absolute;
            top: -4px;
            display: block;
            left: 172px;
        }
        .car {
            background: url('../images/car_ba.png');
            width: 80px;
            width: 100%;
            height: 55px;
            position: absolute;
            bottom: 0;
            left: 200px;
            z-index: 2;
            left: 0;
            background-repeat: no-repeat;
            -webkit-animation-duration: 13s;
            animation-duration: 13s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: car_left;
            animation-name: car_left;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }
        .windmill {
            background: url('../images/windmill_ba1.png');
            width: 85px;
            height: 89px;
            position: absolute;
            bottom: 0px;
            left: 86px;
            .top {
                background: url('../images/windmill_ba2.png');
                width: 85px;
                height: 85px;
                position: absolute;
                top: 0;
                -webkit-animation: windmill_Rotate 3s infinite linear;
                -moz-animation: windmill_Rotate 3s infinite linear;
                -o-animation: windmill_Rotate 3s infinite linear;
                animation: windmill_Rotate 3s infinite linear;
            }
        }
        .windmill.item2 {
            left: 531px;
            background-size: 122%;
            width: 54px;
            background-repeat: no-repeat;
            bottom: -21px;
            .top {
                width: 65px;
                height: 65px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .windmill.item3 {
            left: 582px;
        }
    }
}

.inner_kv {
    position: relative;
    margin-top: 60px;
    img {
        width: 100%;
    }
    h1 {
        font-size: $fisc_fontMiddle;
        font-weight: bold;
        letter-spacing: 1px;
        color: $fisc_darkRed;
        position: absolute;
        top: 55px;
        left: 370px;
    }
}

@-webkit-keyframes windmill_Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes windmill_Rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes windmill_Rotate {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes windmill_Rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes car_left {
    from {
        -webkit-background-position: 0% 0;
        background-position: 0% 0;
        visibility: visible;
    }
    to {
        -webkit-background-position: 110% 0;
        background-position: 110% 0;
    }
}

@keyframes car_left {
    from {
        -webkit-background-position: 0% 0;
        background-position: 0% 0;
        visibility: visible;
    }
    to {
        -webkit-background-position: 110% 0;
        background-position: 110% 0;
    }
}
