.subject_cont{
    padding: 55px 65px 0;

    table{
        width: 100%;

    tr td{
        text-align: center;
        vertical-align: middle;
        padding-bottom: 60px;
    }
}
    .item {
        position: relative;
        width: 224px;
        height: 142px;
        display: inline-block;
    
        transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        &:hover {
            transform: scale(1.15);
        }

        img{
            width: 100%;
        }
        &:before{content: '';
            background-image:url('../images/arrow_ba.png');
            width: 55px;
            height: 55px;
            position: absolute;
            /* background-color: #94002d; */
            bottom: -27px;
            right: -26px;
        }
        &:after{
            content: '';
            background-image:url('../images/arrow_icon.png');
            background-repeat: no-repeat;
            background-position: center;
            bottom: -27px;
            right: -26px;
            position: absolute;
            width: 55px;
            height: 55px;
            z-index: 1;
            transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
        }
        &:hover:after{
            content: '';
            background-position: center;
            background-position: 22px center;
            transform: scale(1.15);
        }

    }

}
.inner_content {
    width: 720px;
    margin: 0px auto;
    
    -webkit-text-align-last:justify; /*Chrome*/
    // -moz-text-align-last:justify; /*Firefox*/
    -ms-text-justify: inter-ideograph; /*IE9*/
    text-justify: inter-ideograph;
    text-align: justify;
    
    .title {
        color: $fisc_darkRed;
        text-align: center;
        font-weight: bold;
        // font-size: 1.2em;
        // line-height: 2.5em;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 1px;
        margin-top: 30px;
        display: block;
    }
    .no_title {
        margin-top: 30px;
        p {
            font-size: 14px;
            line-height: 28px;
        }
    }
    .top {
        width: 100%;
        display: inline-block;
        // text-align: justify;
        .left,.right {
            width: 330px;
            float: left;
        }
        .left {
            margin-right: 30px;
        }
        .right {
            margin-left: 30px;
        }
    }
    .clear {
        clear: both;
    }
    p {
        font-size: 14px;
        line-height: 28px;
    }
    
}
.inner_slider {
    background-image:url('../images/diamonds.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    .chart {
        text-align: center;
        margin: 70px auto;
    }
    .chart_text {
        text-align: center;
        margin-top: -30px;
        margin-bottom: 100px;
    }
    .site {
        width: 700px;
        margin: 30px auto;
        position: relative;
        &:after{    content: '';
                    position: absolute;
                    top: 0;
                   bottom: 31px;
                    left: -5px;
                    z-index: 1;
                    background: rgba(255, 255, 255, 0.6);
                    width: 105px;}
         &:before{    content: '';
                    position: absolute;
                    top: 0;
                    top: 0;
                    bottom: 31px;
                    right: -5px;
                     z-index: 1;
                    background: rgba(255, 255, 255, 0.6);
                    width: 105px;}
//        li:after{content:'';position: absolute;top: 0;bottom: 0;left: 0;right: 0;    background: rgba(255,255,255,0.60);}
//        li.bx_ba:after{content:'';
//            position: absolute;top: 0;bottom: 0;left: 0;right: 0;background: transparent;}
        .bx-wrapper {
            .bx-viewport {
                background: $fisc_noColor;
                border: 0px;
                width: 605px!important;
                padding-left: 105px;

                .bxslider li {
                    width: 500px!important;
                }
            }
            // .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
            //     text-align: left;
            //     width: 80%;
            // }
            .bx-pager {
                text-align: center!important;
                width: 100%!important;
            }
        }
        .bx-pager-item {
            a {
                border-radius: 0px;
                width: 30px;
                height: 5px;
                border: 1px;
                background: $fisc_noColor;
                border: 1px solid $fisc_darkRed;
                &:hover {
                    background: $fisc_darkRed;
                }
                &.active{
                    background: $fisc_darkRed;
                }
            }
        }

        .outside {
            h3 {
                text-indent: -9999px;
            }
            .snext {
                background: url(../images/slider_arrow.png);
                width: 50px;
                height: 50px;
                display: inline-block;
                position: absolute;
                top: 150px;
                right: 75px;
                background-position: -7px -60px;z-index: 4;
            }
            .sprev {
                background: url(../images/slider_arrow.png);
                width: 50px;
                height: 50px;
                display: inline-block;
                position: absolute;
                top: 150px;
                left: 75px;
                background-position: -7px -2px;z-index: 4;
            }
        }

    }
}
.inner_bottom {
    background: url('../images/inner_bottom.png');
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
    border-bottom: 2px solid #333;
    // z-index: -1;
    .car {
        background: url('../images/car_black.png');
        width: 51px;
        width: 100%;
        height: 35px;
        position: absolute;
        bottom: 0;
        left: 200px;
        z-index: 5;
        left: 0;
        background-repeat: no-repeat;
        -webkit-animation-duration: 13s;
        animation-duration: 13s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: car_left;
        animation-name: car_left;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .windmill {
        background: url('../images/windmill_black1.png');
        width: 60px;
        height: 62px;
        position: absolute;
        bottom: 0px;
        left: 600px;
        background-size: 100%;
        .top {
            background: url('../images/windmill_black2.png');
            width: 58px;
            height: 57px;
            position: absolute;
            top: -1px;
            animation: windmill_Rotate 3s infinite linear;
            background-size: 100%;
            background-repeat: no-repeat;
            -webkit-animation: windmill_Rotate 3s infinite linear;
            -moz-animation: windmill_Rotate 3s infinite linear;
            -o-animation: windmill_Rotate 3s infinite linear;
            animation: windmill_Rotate 3s infinite linear;
        }
    }
    .windmill.item2 {
        left: 720px;
        background-size: 100%;
        width: 70px;
        height: 73px;
        background-repeat: no-repeat;
        bottom: 0px;
        .top {
            width: 70px;
            height: 70px;
            background-size: cover;
            top: -3px;
        }
    }
}
.bxslider_text{
    padding: 0px 10px 50px;
    width: 700px;
    margin: 0 auto;
    display: block;
    min-height: 25px;
    text-align: center;
}